.btn-group-profile-type, 
.btn-group-poverx-type,
.btn-profile-type {
    width: 100%;   
}

.n, .input-group {
    margin-bottom: 10px;

}

.btn-group-poverx-type {
    margin-top: 10px;
    margin-bottom: 10px;
}