.sidebarsection {
    margin-bottom: 10px;
}

.sidebarsectionheader {
    margin-bottom: 10px;
    font-weight: bold;
}


.sidebar .sidebarsection:nth-child(odd) {
    border-bottom: 1px solid #bbb;
}


.toggle-sidebarsectioncontent-btn {
    border: 0;
    margin-left: 10px;
}


.sidebarsectioncontent {
    /*height: 0px;*/
}