/* load spinner */
.load-spinner-container {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    align-items: center;
    display: none;
    flex-direction: column;
}

.load-spinner-container.show-spinner {
    display: flex;
}

.load-spinner {
    border: 10px solid #464646;
    border-top: 10px solid #c4c4c4;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    font-size: 64px;
    line-height: 1.5;
    margin: 0px;
    margin-left: 20px;
    z-index: 100;
}

.load-spinner-message {
    margin-top: 20px;
    color: #f1f3f4;
    letter-spacing: .01785714em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25rem;
    font-weight: bold;
    padding: 16px;
}

.load-spinner-action {
    margin-top: 20px;
}

.load-spinner-action button {
    padding: 5px;
    font-size: 12px;
    color: white;
    background: black;
    border: white solid 1px;
    border-radius: 5px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}