/*
.grid-ops, 
.save-ops, 
.open-ops, 
.er-ops, 
.graph-ops {
    display: none;
    line-height: 18px;
}
*/

.toggleGridLayout .grid-ops, 
.save .save-ops, 
.open .open-ops, 
.er .er-ops, 
.graphs .graph-ops {
    display: block;
}

.graph-options {
    float: right;
}

.graph-operations select, .graph-operations input
.graph-options select, .graph-options input {
    width: 65px;
    font-size: 9px;
}

.op2 input {
    width: 65px;
    font-size: 9px;
}

.erdos-renyi {
    display: block;
    float: none;
}

.reset {
    clear: both;
}

.erdos-renyi .input-group {
    margin-bottom: 10px; 

}

.generate {
    float: right;
}

#myDiv {
    height: 200px;
}

.graph-operations .op1 {
    margin-right: 10px;
} 

.graph-operations .op2 {
    margin-right: 10px;
} 

.profiles {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.profile {
    display: flex;
    flex-direction: row;
    color: black;    
    padding: 3px;
}

.profile input {
    width: auto;
    display: inline;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}


.profile span {
    color: black;
    font-size: 10px;
    line-height: 11px;

}